services:
  terraform-api:
    build:
      context: .
      dockerfile: Dockerfile_api
    volumes:
      - ./terraform-api:/app
    working_dir: /app
    command: python api.py
    ports:
      - 8000:8000
    environment:
      - PROXMOX_URL=$PROXMOX_URL
      - API_TOKEN_ID=$API_TOKEN_ID
      - API_TOKEN_SECRET=$API_TOKEN_SECRET
      - NODE=$NODE
      - TEMPLATE_ID=$TEMPLATE_ID
      - NETWORK_BRIDGE=$NETWORK_BRIDGE
      - VM_GW=$VM_GW
      - ALLOW_ORIGINS=$ALLOW_ORIGINS

  terraform-UI:
    build:
      context: ./terraform-UI
      dockerfile: node:latest
    volumes:
      - ./terraform-UI:/app
    working_dir: /app/terraform-UI
    command: npm run dev
    ports:
      - 5713:5713
